<script type="text/javascript">
  $('#backToSchedule').click(function(){goBackToSchedule()})
  $('#sched-close').click(function(){hideSchedule()})
</script>
<div class="sched">
  <i id='sched-close' class="fa fa-times exit fa-2x"></i>
  <div id='backToSchedule'>
    Back
  </div>
  <div>
  <table>
    <tr >
      <td colspan="2">
        <h3><%= @train_station_info[:stop]%></h3>
      </td>
    </tr>
  <% @train_station_info.each_key do |k| %>
  <% if k!=:stop %>
  <tr>
    <td>
      <%= k.strftime("%a %b %d") %>
    </td>
    <td>
      <%= @train_station_info[k] %><span> minute(s) late</span>
    </td>
  </tr>
  <% end %>
  <% end %>
</table>
</div>
</div>
