<script type="text/javascript">
$('.station-wrapper').click(function (e) {
  station = $(e.target).data('station')
  setStation(station)
});
</script>
<div class="stations">
  <h3>Choose a station:</h3>
  <% @stations.each do |s| %>
  <div class="station-wrapper" data-station='<%=s%>'>
    <%= s %>
  </div>
  <% end %>
</div>
