// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

html{
	background-color: $light-blue;
}

.flash {
	width: 100%;
	background: rgba(0, 0, 0, .7);
	font-weight: 600;
	font-size: 1.3em;
}


.container {
  background: asset-url('philly.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: auto;
  height: 100vh;
}

#home-page{
	background: $div;
	height: 100vh;
	color: $light-blue;
	text-align:center;
}

.logo {
	padding-top: 5vh;
	font-size: 1.5em;
}

.buttons {
	padding-top: 20vh;
}

.home-div a {
	color: $light-blue;
	text-decoration: none;
	display:block;
	width: 30%;
	height: 6vh;
	margin: 0 auto;
	margin-top: 2vh;
	border:3px solid $light-blue;
	cursor:pointer;
	font-size:4vh;
	padding:10px 20px;
	background: rgba(0,0,0,.7);
}

@media only screen and (min-width: 600px){
	#home-page{
		width: 90%;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 1000px){
	#home-page{
		width: 80%;
		margin: 0 auto;
	}
}
