@import "font-awesome-sprockets";
@import "font-awesome";
@import "colors";
.reminder-show {
  // text-align: center;
  .reminder-header {
    table {
      margin: auto;
      color: white;
      .new-reminder {
        color: white;
         :hover {
          color: $main-blue;
        }
      }
    }
    h2{
      padding-right: 10px;
    }
  }
  .reminder-container {
    display: flex;
    justify-content: space-around;
    border: 1px $light-blue solid;
    border-radius: 5px;
    margin: 7px;
    background-color: black;
    color: $light-blue;
    padding: 5px;
    i {
      color: $light-blue;
      &:hover {
        color: $main-blue;
      }
    }
    a {
      color: transparent;

      }
  }
}
.no-reminders-msg{
	text-align: center;
	padding-top: 3%;
	span{
		margin: auto;
		text-align: center;
		width: 100%;
	}
}

.new-reminder-form, .edit-reminder-form {
  background-color: $div;
  // margin-top:
    padding: 5%;
    h2{
        padding-bottom: 6%;
    }
}
.new-reminder-wrapper,
.edit-reminder-form {
  table {
    color: $light-blue;
    th,
    td {
      border: 1px solid $light-blue;
    }
    .bottom-row {
      text-align: right;
      padding: 2px;
    }
  }
}

.exit {
  display: block;
  text-align: right;
    text-align: right;
		&:hover{
			cursor:pointer;
		}
}
.ex-edit{
    // font-size: 2em;
    width: 100%;
    text-align: right;
    a{
        text-decoration: none;
        color: $light-blue;
    }
}

.new-reminder-btn{
  &:hover{
    background-color: $light-blue;
  }
}
