@import "colors";
@mixin sched-btn {
  padding: 0.5em;
  border: 1px solid $light-blue;
  margin: 0.5em;
  text-align: center;
  &:hover{
    background-color: $main-blue;
    cursor: pointer;
  }
}
.sched{
  background-color: $div;
padding: 2em;
margin-right: 1em;
  div{
    clear: both;
    margin: 1em;
    display: flex;
    table{
margin: auto;
h3{
  text-align: center;
}
    td{
      padding: 1em;
      border: 1px solid $light-blue;
    }
    }
  }
}

.stations{
  margin-right: 1em;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: $div;
  .station-wrapper{
  @include sched-btn;
  }

}


#backToSchedule{
@include sched-btn;
  position: relative;;
  left: 0.5em;
  width: 3em;

}
