// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";




.sign-page {
	background: linear-gradient(to bottom right, $gra-start, $gra-end);
	height: 100vh;
	text-align: center;
	color: $light-blue;
}

.field {
	margin-top: 2vh;
}

.actions {
	padding: 30px;
}

.form1 {
	padding-top: 20vh;
}
.container {
  background: url('philly.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: auto;
  height: 100vh;
}


.show-page{
	height: 100vh;
	width: 80%;
	margin: 0 auto;
	overflow: auto;
	background-color:$div;
}




.exit {
	text-align: right;
}

.ex-edit{
	font-size: 2em;
	width: 100%;
	text-align: right;
	a{
		text-decoration: none;
		color: black;
	}
	
}

.exit:hover{
	cursor:pointer;
}