// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$main-blue: #268DF4;
$light-blue: #E9F3FD;
$dark-blue: #1a62aa;
$gra-start: #19a9a0;
$gra-end: #36B8E9;


.sign-page {
	background: linear-gradient(to bottom right, $gra-start, $gra-end);
	height: 100vh;
	text-align: center;
	color: $light-blue;
}

.field {
	margin-top: 2vh;
}

.actions {
	padding: 30px;
}

.form1 {
	padding-top: 20vh;
}